/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки
Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  display: flex;
  flex-direction: column;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--font-fm-main);
  font-size: var(--font-sz-main);
  font-variation-settings: 'wght' var(--font-wg-main);
  background-color: var(--color-background);
  color: var(--color-accent);
  background-image: var(--gradient-background);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.container {
  width: clamp(23.438rem, 16.3739rem + 30.1401vw, 43.5rem);
  margin: 0 auto;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-background);
  border: 2px solid var(--color-accent);
  margin-bottom: 6.25rem;
  margin-top: 6.25rem;
  padding-top: clamp(7.5rem, 7.1479rem + 1.5023vw, 8.5rem);
  padding-bottom: 1.563rem;
  padding-left: 0.875rem;
  padding-right: 0.875rem;
}

.header__title {
  font-family: var(--font-fm-accent);
  font-size: clamp(3.063rem, 2.7109rem + 1.5023vw, 4.063rem);
  margin-bottom: 1.25rem;
  text-transform: uppercase;
}

.header__subtitle {
  font-family: var(--font-fm-accent);
  font-size: clamp(0.875rem, 0.6768rem + 0.8458vw, 1.438rem);
  margin-bottom: 1.563rem;
  text-transform: uppercase;
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  gap: 0.875rem;
  font-family: var(--font-fm-accent);
  font-size: 0.875rem;
  line-height: 1;
}

.theme-menu__button {
  position: relative;
  padding: 0;
  background-color: transparent;
  border: none;
  text-transform: uppercase;
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.theme-menu__button::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -4px;
  height: 2px;
  width: 100%;
  transform: scaleX(0);
  transform-origin: left;
  background-color: var(--color-accent);
  transition: transform 0.3s ease;
}

.theme-menu__button:disabled {
  opacity: 0.6;
  pointer-events: none;
}

.theme-menu__button:disabled::before {
  content: '▶';
  position: absolute;
  translate: -1.25rem 0;
  animation: arrow 0.5s infinite alternate ease-in-out;
}

@keyframes arrow {
  from {
    translate: -1.25rem 0;
  }
  to {
    translate: -1.5rem 0;
  }
}

.theme-menu__button:focus {
  outline: none;
  opacity: 0.6;
}

.theme-menu__button:focus-visible::after {
  transform: scaleX(1);
}

.theme-menu__button:hover {
  opacity: 0.6;
}

.card__list {
  display: flex;
  flex-direction: column;
  gap: 3.563rem;
  margin-bottom: 3.375rem;
}

.card__item {
  background-color: var(--color-background);
  border: 2px solid var(--color-accent);
}

.card__title {
  padding: 3px 10px;
  font-family: var(--font-fm-main);
  font-variation-settings: 'wght' var(--font-wg-title);
  color: var(--color-accent);
  font-size: var(--font-sz-main);
}

.card__image-wrapper {
  position: relative;
  aspect-ratio: 1 / 1;
  border-top: 2px solid var(--color-accent);
  border-bottom: 2px solid var(--color-accent);
  font-size: 0;
}

.card__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.card__item:nth-child(1) .card__image {
  filter: saturate(1.7);
}

.card__item:nth-child(2) .card__image {
  filter: sepia(0.4);
}

.card__item:nth-child(3) .card__image {
  filter: brightness(1.1);
}

.card__item:nth-child(4) .card__image {
  filter: contrast(0.8);
}

.card__item:nth-child(5) .card__image {
  filter: hue-rotate(-25deg);
}

.card__item:nth-child(6) .card__image {
  filter: invert(1) blur(3px);
}

.card__item:nth-child(7) .card__image {
  filter: grayscale(0.5);
}

.card__item:nth-child(8) .card__image {
  filter: saturate(1.3);
}

.card__image-label {
  position: absolute;
  z-index: 3;
  right: 1.563rem;
  top: 1.563rem;
  font-family: var(--font-fm-accent);
  font-size: 0.875rem;
  text-transform: uppercase;
  text-shadow:
    -1px 0 var(--color-background), 
    0 1px var(--color-background), 
    1px 0 var(--color-background), 
    0 -1px var(--color-background);
  opacity: 0.5;
  mix-blend-mode: hard-light;
}

@supports((text-stroke: 1px var(--color-background)) or (-webkit-text-stroke: 1px var(--color-background))) {
  .card__image-label {
      -webkit-text-stroke: 1px var(--color-background);
      text-stroke: 1px var(--color-background);
      text-shadow: none;
  }
}

.card__text-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1.563rem;
  padding: 1.563rem;
}

.card__text:not(:last-of-type) {
  margin-bottom: 2px;
}

.card__button-wrapper {
  display: flex;
  align-self: flex-end;
  gap: 0.25rem;
}

.card__like-button {
  position: relative;
  display: flex;
  align-items: center;
  border: 2px solid var(--color-accent);
  background-color: var(--color-background);
  padding: 11px 37px;
  font-size: 0.875rem;
  font-family: var(--font-fm-accent);
  line-height: 1;
  cursor: pointer;
  transition: box-shadow 0.3s ease;
}

.card__like-button::after {
  content: '';
  position: absolute;
  inset: 0;
  background-color: var(--color-accent);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s ease-in-out;
}

.card__like-button span {
  position: relative;
  z-index: 2;
  mix-blend-mode: difference;
  color: var(--color-button-hover);
}

.card__like-button:hover::after {
  transform: scaleX(1);
}

.card__like-button:focus,
.save-button:focus,
.dialog__button:focus {
  outline: none;
}

.card__like-button:focus-visible,
.save-button:focus-visible,
.dialog__button:focus-visible {
  box-shadow: 2px 2px 0px 0px var(--color-accent);
}

.card__icon-button {
  padding: 0;
  display: flex;
  align-items: center;
  border: 2px solid transparent;
  background-color: transparent;
  cursor: pointer;
  transition: border 0.3s ease;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border: 2px solid var(--color-accent);
}

.contour {
  fill: var(--color-heart-contour);
  transition: fill 0.3s ease;
  transition-delay: 0.06s;
}

.main-body {
  fill: var(--color-accent);
  opacity: 0;
  transition: opacity 0.3s ease, fill 0.3s ease;
}

.core {
  fill: var(--color-accent);
  opacity: 0;
  transition: opacity 0.3s ease, fill 0.3s ease;
  transition-delay: 0.03s;
}

.sparks {
  fill: var(--color-heart-main);
  opacity: 0;
}

.card__icon-button:hover .main-body {
  opacity: 1;
  fill: var(--color-accent);
  transition: opacity 0.3s ease, fill 0.3s ease;
  transition-delay: 0.05s;
}

.card__icon-button:hover .core {
  opacity: 1;
  fill: var(--color-accent);
  transition: opacity 0.3s ease, fill 0.3s ease;
}

.card__icon-button:active .main-body {
  opacity: 1;
  fill: var(--color-heart-main);
  transition: opacity 0.3s ease, fill 0.3s ease;
  transition-delay: 0.05s;
}

.card__icon-button:active .core {
  opacity: 1;
  fill: var(--color-heart-main);
  transition: opacity 0.3s ease, fill 0.3s ease;
}

.like-icon.is-liked .main-body {
  opacity: 1;
  fill: var(--color-heart-main);
  transition: opacity 0.3s ease, fill 0.3s ease;
  transition-delay: 0.05s;
}

.like-icon.is-liked .core {
  opacity: 1;
  fill: var(--color-heart-main);
  transition: opacity 0.3s ease, fill 0.3s ease;
}

.like-icon.is-liked .contour {
  fill: var(--color-heart-main);
  transition: fill 0.1s ease;
}

.like-icon.is-liked .heart {
  transform-origin: center;
  animation: heart-scale 0.3s alternate ease-in;
  animation-delay: 0.1s;
}

.like-icon.is-liked .sparks {
  transform-origin: center;
  animation: sparks-appear 0.3s alternate ease-in;
  animation-delay: 0.3s;
}

@keyframes heart-scale {
  from {
    scale: 1;
  }
  to {
    scale: 1.5;
  }
}

@keyframes sparks-appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.save-button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  max-width: max-content;
  padding: 13px 37px;
  background-color: var(--color-background);
  border: 2px solid var(--color-accent);
  font-size: 0.875rem;
  font-family: var(--font-fm-accent);
  line-height: 1;
  cursor: pointer;
}

.save-button::after {
  content: '';
  position: absolute;
  inset: 0;
  background-color: var(--color-accent);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s ease-in-out;
}

.save-button:hover::after {
  transform: scaleX(1);
}

.save-button span {
  position: relative;
  z-index: 2;
  color: var(--color-button-hover);
}

.save-button svg {
  position: relative;
  width: 1.313rem;
  height: 1.313rem;
  z-index: 3;
  color: var(--color-button-hover);
}

.save-button * {
  mix-blend-mode: difference;
}

.dialog {
  position: fixed;
  inset: 0;
  background-color: var(--color-background);
  border: 2px solid var(--color-accent);
  padding: 1.938rem;
  margin: auto;
  width: clamp(21.313rem, 20.9609rem + 1.5023vw, 22.313rem);
}

dialog::backdrop {
  background-color: rgba(0, 0, 0, .75);
}

.dialog__title-wrapper {
  display: flex;
  margin-bottom: 1.875rem;
  gap: 1.25rem;
  align-items: center;
}

.dialog__title-wrapper svg {
  width: 2.438rem;
  height: 2.438rem;
  color: var(--color-accent);
}

.dialog__title {
  font-family: var(--font-fm-accent);
  color: var(--color-accent);
  font-size: 0.875rem;
  line-height: 1.5;
  max-width: clamp(12.375rem, 11.5827rem + 3.3803vw, 14.625rem);
  text-transform: uppercase;
}

.dialog__button {
  position: relative;
  padding: 10px 37px;
  background-color: var(--color-background);
  border: 2px solid var(--color-accent);
  font-size: 0.875rem;
  font-family: var(--font-fm-accent);
  cursor: pointer;
  width: 100%;
  text-transform: uppercase;
}

.dialog__button span {
  mix-blend-mode: difference;
  position: relative;
  z-index: 2;
  color: var(--color-button-hover)
}

.dialog__button::after {
  content: '';
  position: absolute;
  inset: 0;
  background-color: var(--color-accent);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s ease-in-out;
}

.dialog__button:hover::after {
  transform: scaleX(1);
}

@media (width <= 375px) {
  .save-button {
    flex-direction: column;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }

  .save-button svg {
    width: 1.75rem;
    height: 1.75rem;
  }
}