/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */

:root {
  --font-fm-main: 'Inter', sans-serif;
  --font-fm-accent: 'PressStart2P', cursive;
  --font-wg-main: 400;
  --font-wg-title: 700;
  --font-sz-main: 1.125rem;
  --color-background: #fff;
  --color-accent: #000;
  --color-button-hover: #fff;
  --color-heart-contour: #000;
  --color-heart-main: red;
  --color-heart-core: #fff;
  --gradient-background:  repeating-linear-gradient(to bottom, #d3d3d3 0 2px, transparent 2px 4px),
                          repeating-linear-gradient(to right, #d3d3d3 0 2px, transparent 2px 4px),
                          linear-gradient(to bottom, #e7e7e7 0.01%, #1a1a1a);
}